<h1>
  Edit exercise element #<%= @exercise_element.id %>
</h1>

<hr>

<form action="/update_exercise_element/<%= @exercise_element.id %>" method="post">

  <div class="form-group">
    <label for="exercise_id">
      Exercise
    </label>

    <%= select_tag(:exercise_id, options_from_collection_for_select(Exercise.all, :id, :right_left_bool, @exercise_element.exercise_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="element_id">
      Element
    </label>

    <%= select_tag(:element_id, options_from_collection_for_select(Element.all, :id, :created_at, @exercise_element.element_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update exercise element
  </button>
</form>

<hr>

<a href="/exercise_elements">
  Go back
</a>
