<!-- Validation failure messages -->
<% if @exercise_element.present? %>
  <% if @exercise_element.errors.any? %>
    <% @exercise_element.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new exercise element
</h1>


<hr>

<!-- Form exercise_element start -->
<form action="/create_exercise_element" method="post">
<!-- Form exercise_element end -->

  <!-- Label and input for exercise_id start -->
  <div class="form-group">
    <label for="exercise_id">
      Exercise
    </label>

    <!-- Input for exercise_id start -->
    <%= select_tag(:exercise_id, options_from_collection_for_select(Exercise.all, :id, :right_left_bool, @exercise_element.exercise_id), :class => "form-control") %>
    <!-- Input for exercise_id end -->
  </div>
  <!-- Label and input for exercise_id end -->

  <!-- Label and input for element_id start -->
  <div class="form-group">
    <label for="element_id">
      Element
    </label>

    <!-- Input for element_id start -->
    <%= select_tag(:element_id, options_from_collection_for_select(Element.all, :id, :created_at, @exercise_element.element_id), :class => "form-control") %>
    <!-- Input for element_id end -->
  </div>
  <!-- Label and input for element_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create exercise element
  </button>
</form>

<hr>

<a href="/exercise_elements">
  Go back
</a>
