<!-- Form exercise_element start -->
<form action="/create_exercise_element_from_exercise" method="post">
<!-- Form exercise_element end -->

  <!-- Label and input for exercise_id start -->
  <!-- Input for exercise_id start -->
  <input type="hidden" name="exercise_id" value="<%= @exercise.id %>">
  <!-- Input for exercise_id end -->

  <!-- Label and input for element_id start -->
  <div class="form-group">
    <label for="element_id">
      Element
    </label>

    <!-- Input for element_id start -->
    <input type="text" id="element_id" name="element_id" class="form-control" value="<%= @exercise_element.element_id %>">
    <!-- Input for element_id end -->
  </div>
  <!-- Label and input for element_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create exercise element
  </button>
</form>
