<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Exercise Elements

    <a data-toggle="collapse" href="#exercise_exercise_elements_new_form">
      Add exercise element
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @exercise.exercise_elements.each do |exercise_element| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/exercise_elements/<%= exercise_element.id %>">
          <%= exercise_element.exercise_id %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_exercise_element_from_exercise/<%= exercise_element.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="exercise_exercise_elements_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
