<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Workouts
  </div>

  <ul class="list-group list-group-flush">
    <% @exercise.workouts.each do |workout| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/workouts/<%= workout.id %>">
          <%= workout.user_id %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
