<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Elements
  </div>

  <ul class="list-group list-group-flush">
    <% @exercise.elements.each do |element| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/elements/<%= element.id %>">
          <%= element.created_at %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
