<form action="/create_workout_exercise_from_exercise" method="post">

  <div class="form-group">
    <label for="workout_id">
      Workout
    </label>

    <%= select_tag(:workout_id, options_from_collection_for_select(Workout.all, :id, :user_id, @workout_exercise.workout_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="exercise_id" value="<%= @exercise.id %>">

  <div class="form-group">
    <label for="workout_focus">
      Workout focus
    </label>

    <input type="text" id="workout_focus" name="workout_focus" class="form-control" value="<%= @workout_exercise.workout_focus %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create workout exercise
  </button>
</form>
