<h1>
  Add a new exercise
</h1>


<hr>

<!-- Form exercise start -->
<form action="/create_exercise" method="post">
<!-- Form exercise end -->

  <!-- Label and input for right_left_bool start -->
  <div class="form-check">
    <input type="hidden" value="0" name="right_left_bool">
    <!-- Input for right_left_bool start -->
    <input id="right_left_bool" class="form-check-input" name="right_left_bool" type="checkbox">
    <!-- Input for right_left_bool end -->
    <label for="right_left_bool" class="form-check-label">
      Right left bool
    </label>
  </div>

  <!-- Label and input for reps_bool start -->
  <div class="form-check">
    <input type="hidden" value="0" name="reps_bool">
    <!-- Input for reps_bool start -->
    <input id="reps_bool" class="form-check-input" name="reps_bool" type="checkbox">
    <!-- Input for reps_bool end -->
    <label for="reps_bool" class="form-check-label">
      Reps bool
    </label>
  </div>

  <!-- Label and input for resistance_bool start -->
  <div class="form-check">
    <input type="hidden" value="0" name="resistance_bool">
    <!-- Input for resistance_bool start -->
    <input id="resistance_bool" class="form-check-input" name="resistance_bool" type="checkbox">
    <!-- Input for resistance_bool end -->
    <label for="resistance_bool" class="form-check-label">
      Resistance bool
    </label>
  </div>

  <!-- Label and input for duration_bool start -->
  <div class="form-check">
    <input type="hidden" value="0" name="duration_bool">
    <!-- Input for duration_bool start -->
    <input id="duration_bool" class="form-check-input" name="duration_bool" type="checkbox">
    <!-- Input for duration_bool end -->
    <label for="duration_bool" class="form-check-label">
      Duration bool
    </label>
  </div>

  <!-- Label and input for work_rest_bool start -->
  <div class="form-check">
    <input type="hidden" value="0" name="work_rest_bool">
    <!-- Input for work_rest_bool start -->
    <input id="work_rest_bool" class="form-check-input" name="work_rest_bool" type="checkbox">
    <!-- Input for work_rest_bool end -->
    <label for="work_rest_bool" class="form-check-label">
      Work rest bool
    </label>
  </div>

  <!-- Label and input for gif_link start -->
  <div class="form-group">
    <label for="gif_link">
      Gif link
    </label>

    <!-- Input for gif_link start -->
    <input type="text" id="gif_link" name="gif_link" class="form-control">
    <!-- Input for gif_link end -->
  </div>
  <!-- Label and input for gif_link end -->

  <button class="btn btn-block btn-outline-secondary">
    Create exercise
  </button>
</form>

<hr>

<a href="/exercises">
  Go back
</a>
