<h1>
  Add a new exercise
</h1>


<hr>

<form action="/create_exercise" method="post">

  <div class="form-check">
    <input type="hidden" value="0" name="right_left_bool">
    <input id="right_left_bool" class="form-check-input" name="right_left_bool" type="checkbox">
    <label for="right_left_bool" class="form-check-label">
      Right left bool
    </label>
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="reps_bool">
    <input id="reps_bool" class="form-check-input" name="reps_bool" type="checkbox">
    <label for="reps_bool" class="form-check-label">
      Reps bool
    </label>
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="resistance_bool">
    <input id="resistance_bool" class="form-check-input" name="resistance_bool" type="checkbox">
    <label for="resistance_bool" class="form-check-label">
      Resistance bool
    </label>
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="duration_bool">
    <input id="duration_bool" class="form-check-input" name="duration_bool" type="checkbox">
    <label for="duration_bool" class="form-check-label">
      Duration bool
    </label>
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="work_rest_bool">
    <input id="work_rest_bool" class="form-check-input" name="work_rest_bool" type="checkbox">
    <label for="work_rest_bool" class="form-check-label">
      Work rest bool
    </label>
  </div>

  <div class="form-group">
    <label for="gif_link">
      Gif link
    </label>

    <input type="text" id="gif_link" name="gif_link" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create exercise
  </button>
</form>

<hr>

<a href="/exercises">
  Go back
</a>
