<form action="/create_exercise_element_from_element" method="post">

  <div class="form-group">
    <label for="exercise_id">
      Exercise
    </label>

    <%= select_tag(:exercise_id, options_from_collection_for_select(Exercise.all, :id, :right_left_bool, @exercise_element.exercise_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="element_id" value="<%= @element.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create exercise element
  </button>
</form>
