<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Exercise Elements

    <a data-toggle="collapse" href="#element_exercise_elements_new_form">
      Add exercise element
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @element.exercise_elements.each do |exercise_element| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/exercise_elements/<%= exercise_element.id %>">
          <%= exercise_element.exercise_id %>
        </a>

        <a href="/delete_exercise_element_from_element/<%= exercise_element.id %>">
          Delete
        </a>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="element_exercise_elements_new_form">
        <%= render partial: "element_templates/element_exercise_elements_new_form" %>
      </div>
    </div>

  </ul>
</div>
