<% if @element.present? %>
  <% if @element.errors.any? %>
    <% @element.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new element
</h1>


<hr>

<form action="/create_element" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @element.name %>">
  </div>

  <div class="form-group">
    <label for="category_id">
      Category
    </label>

    <%= select_tag(:category_id, options_from_collection_for_select(ElementCategory.all, :id, :category_name, @element.category_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create element
  </button>
</form>

<hr>

<a href="/elements">
  Go back
</a>
