<h1>
  Add a new workout exercise
</h1>


<hr>

<form action="/create_workout_exercise" method="post">

  <div class="form-group">
    <label for="workout_id">
      Workout
    </label>

    <%= select_tag(:workout_id, options_from_collection_for_select(Workout.all, :id, :user_id, @workout_exercise.workout_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="exercise_id">
      Exercise
    </label>

    <%= select_tag(:exercise_id, options_from_collection_for_select(Exercise.all, :id, :right_left_bool, @workout_exercise.exercise_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="workout_focus">
      Workout focus
    </label>

    <input type="text" id="workout_focus" name="workout_focus" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create workout exercise
  </button>
</form>

<hr>

<a href="/workout_exercises">
  Go back
</a>
