<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Elements

    <a data-toggle="collapse" href="#element_category_elements_new_form">
      Add element
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @element_category.elements.each do |element| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/elements/<%= element.id %>">
          <%= element.created_at %>
        </a>

        <a href="/delete_element_from_category/<%= element.id %>">
          Delete
        </a>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="element_category_elements_new_form">
        <%= render partial: "element_category_templates/element_category_elements_new_form" %>
      </div>
    </div>

  </ul>
</div>
