<!-- Form element start -->
<form action="/create_element_from_element_category" method="post">
<!-- Form element end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control" value="<%= @element.name %>">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for category_id start -->
  <!-- Input for category_id start -->
  <input type="hidden" name="category_id" value="<%= @element_category.id %>">
  <!-- Input for category_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create element
  </button>
</form>
