<form action="/create_element_from_element_category" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @element.name %>">
  </div>

  <input type="hidden" name="category_id" value="<%= @element_category.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create element
  </button>
</form>
