<% if @element_category.present? %>
  <% if @element_category.errors.any? %>
    <% @element_category.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new element category
</h1>


<hr>

<form action="/create_element_category" method="post">

  <div class="form-group">
    <label for="category_name">
      Category name
    </label>

    <input type="text" id="category_name" name="category_name" class="form-control" value="<%= @element_category.category_name %>">
  </div>

  <div class="form-group">
    <label for="position_number">
      Position number
    </label>

    <input type="text" id="position_number" name="position_number" class="form-control" value="<%= @element_category.position_number %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create element category
  </button>
</form>

<hr>

<a href="/element_categories">
  Go back
</a>
